@model Entities.User
@{
    Layout = null;
}


<!DOCTYPE html>
<html>
    <head>
        <title>SetRole</title>
    </head>
    <body>
        <h3>欢迎您给用户：<font color="red" size="5">@Model.UName</font>设置角色信息：</h3>
        <hr />
        <fieldset>
            <legend>设置角色信息</legend>
        </fieldset>
    </body>
</html>