@{
    Layout ="~/Views/Shared/layout_Inner.cshtml";
}

<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width" />
    <title>错误</title>
</head>
<body>
    <hgroup>
        <h1>/(ㄒoㄒ)/~~</h1>
        <h2>sorry ,the page you visited is not working now .my darling .</h2>
    </hgroup>
</body>
</html>