<?xml version="1.0"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.4.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <appSettings>
    <add key="ChartImageHandler" value="storage=file;timeout=20;dir=c:\TempImageFiles\;" />
  </appSettings>
  <connectionStrings>
    <add name="connOraStr" connectionString="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=222.189.214.125)(PORT=1521))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=orcl)));Persist Security Info=True;User ID=wrsoft;Password=wrsoft;" />
    <add name="connStrWZ" connectionString="Persist Security Info=False;User ID=sa;Password=wanrun@123456789;Initial Catalog=bszhglxt_zhdata;Data Source=222.189.214.116,6666" />
    <add name="connStrWZb" connectionString="Persist Security Info=False;User ID=sa;Password=wanrun@123456789;Initial Catalog=bszhglxt_zhdata;Data Source=222.189.214.116,6666" />
    <add name="connMaster" connectionString="Persist Security Info=False;User ID=sa;Password=wanrun@123456789;Data Source=222.189.214.116,6666"/>
    <add name="connBack" connectionString="Persist Security Info=False;User ID=sa;Password=wanrun@123456789;Initial Catalog=BackDbSys;Data Source=222.189.214.116,6666"/>
    <add name="connMsgStr" connectionString="Persist Security Info=False;User ID=sa;Password=wanrun@123456789;Initial Catalog=SMSDB;Data Source=222.189.214.116,6666"/>
    <add name="connLcStr" connectionString="Persist Security Info=False;User ID=sa;Password=wanrun@123456789;Initial Catalog=BPMDB_Sys;Data Source=222.189.214.116,6666"/>
    <add name="connLcPerStr" connectionString="Persist Security Info=False;User ID=sa;Password=wanrun@123456789;Initial Catalog=SqlPersistenceService;Data Source=222.189.214.116,6666"/>



    <!--add name="connOraStr" connectionString="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=192.168.11.170)(PORT=1521))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=orcl)));Persist Security Info=True;User ID=wrsoft;Password=wrsoft;" />
    <add name="connStrWZ" connectionString="Persist Security Info=False;User ID=sa;Password=Bim14and17;Initial Catalog=bszhglxt_zhdata;Data Source=222.189.214.125,6666" />
    <add name="connStrWZb" connectionString="Persist Security Info=False;User ID=sa;Password=Bim14and17;Initial Catalog=bszhglxt_zhdata;Data Source=222.189.214.125,6666" />
    <add name="connMaster" connectionString="Persist Security Info=False;User ID=sa;Password=Bim14and17;Data Source=222.189.214.125,6666"/>
    <add name="connBack" connectionString="Persist Security Info=False;User ID=sa;Password=Bim14and17;Initial Catalog=BackDbSys;Data Source=222.189.214.125,6666"/>
    <add name="connMsgStr" connectionString="Persist Security Info=False;User ID=sa;Password=Bim14and17;Initial Catalog=SMSDB;Data Source=222.189.214.125,6666"/>
    <add name="connLcStr" connectionString="Persist Security Info=False;User ID=sa;Password=Bim14and17;Initial Catalog=BPMDB_Sys;Data Source=222.189.214.125,6666"/>-->


    <!--<add name="connOraStr" connectionString="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=192.168.11.170)(PORT=1521))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=orcl)));Persist Security Info=True;User ID=wrsoft;Password=wrsoft;" />

    <add name="connStrWZ" connectionString="Persist Security Info=False;User ID=sa;Password=wcw12345;Initial Catalog=bszhglxt_zhdata;Data Source=." />
    <add name="connStrWZb" connectionString="Persist Security Info=False;User ID=sa;Password=wcw12345;Initial Catalog=bszhglxt_zhdata;Data Source=." />
    <add name="connMaster" connectionString="Persist Security Info=False;User ID=sa;Password=wcw12345;Data Source=.\CJMSQLSERVER"/>
    <add name="connQyStr" connectionString="Persist Security Info=False;User ID=sa;Password=wcw12345;Initial Catalog=QyCom;Data Source=."/>
    <add name="connBack" connectionString="Persist Security Info=False;User ID=sa;Password=wcw12345;Initial Catalog=BackDbSys;Data Source=."/>
    <add name="connMsgStr" connectionString="Persist Security Info=False;User ID=sa;Password=wcw12345;Initial Catalog=SMSDB;Data Source=."/>
    <add name="connLcStr" connectionString="Persist Security Info=False;User ID=sa;Password=wcw12345;Initial Catalog=BPMDB_Sys;Data Source=."/>-->



  </connectionStrings>
  <system.web>

    <httpRuntime maxRequestLength="102400" executionTimeout="120"/>

    <httpHandlers>
      <add path="ChartImg.axd" verb="GET,HEAD,POST" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        validate="false" />
    </httpHandlers>
    <pages>
      <controls>
        <add tagPrefix="asp" namespace="System.Web.UI.DataVisualization.Charting"
          assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      </controls>
    </pages>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </assemblies>
    </compilation>
    <authentication mode="Forms">
      <forms loginUrl="~/login.aspx" timeout="2880" name=".ASPXFORMSAUTH" defaultUrl="~/login.aspx"  protection="All"/>
    </authentication>
    <authorization>
      <allow users="*"/>
    </authorization>


    <profile defaultProvider="DefaultProfileProvider">
      <providers>
        <add name="DefaultProfileProvider" type="System.Web.Providers.DefaultProfileProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" applicationName="/"/>
      </providers>
    </profile>
    <membership defaultProvider="DefaultMembershipProvider">
      <providers>
        <add name="DefaultMembershipProvider" type="System.Web.Providers.DefaultMembershipProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/"/>
      </providers>
    </membership>
    <roleManager defaultProvider="DefaultRoleProvider">
      <providers>
        <add name="DefaultRoleProvider" type="System.Web.Providers.DefaultRoleProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" applicationName="/"/>
      </providers>
    </roleManager>

    <sessionState mode="InProc" customProvider="DefaultSessionProvider" timeout="20"  cookieless="false">
      <providers>
        <add name="DefaultSessionProvider" type="System.Web.Providers.DefaultSessionStateProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection"/>
      </providers>
    </sessionState>


  </system.web>

  <location path="Admin">
    <system.web>
      <authorization>
        <allow roles="Admin"/>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>

  <location path="XiTong">
    <system.web>
      <authorization>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>

  <location path="_9ZhiShi">
    <system.web>
      <authorization>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>

  <location path="_7ZiCan">
    <system.web>
      <authorization>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>

  <location path="_6Cwfz">
    <system.web>
      <authorization>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>

  <location path="_5RenLi">
    <system.web>
      <authorization>
        <allow roles="Admin"/>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>




  <location path="_4BangGong">
    <system.web>
      <authorization>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>

  <location path="_3JingY">
    <system.web>
      <authorization>
        <allow roles="Admin"/>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>

  <location path="_2XiangM">
    <system.web>
      <authorization>
        <allow roles="Admin"/>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>

  <location path="_1JueCe">
    <system.web>
      <authorization>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>

  <location path="_10DangAn">
    <system.web>
      <authorization>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>



  <system.webServer>
    <security>
      <requestFiltering >
        <requestLimits maxAllowedContentLength="2147483647" ></requestLimits>
      </requestFiltering>
    </security>

    <modules runAllManagedModulesForAllRequests="true" />
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <remove name="ChartImageHandler" />
      <add name="ChartImageHandler" preCondition="integratedMode" verb="GET,HEAD,POST"
        path="ChartImg.axd" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    </handlers>
  </system.webServer>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0"/>
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IPowerService" />
        <binding name="BasicHttpBinding_IWorkflowService" />
        <binding name="BasicHttpBinding_IRpService" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8654/PWDB/PW/" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IPowerService" contract="PW.IPowerService"
        name="BasicHttpBinding_IPowerService" />
      <endpoint address="http://localhost:8655/WFDB/WF/" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IWorkflowService" contract="WF.IWorkflowService"
        name="BasicHttpBinding_IWorkflowService" />
      <endpoint address="http://localhost:8656/RPDB/RP/" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IRpService" contract="RP.IRpService"
        name="BasicHttpBinding_IRpService" />
    </client>
  </system.serviceModel>



</configuration>