@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/Content/Common.css" rel="stylesheet" />
</head>
<body class="all_body">
    <div class="all_index_div_header">
         <h1><em>hygoing - one of your best friends</em></h1>
    </div>
    <div class="all_index_div_center">


        <table class="all_index_table">
            <tr>
                <td><em>
                    @Html.ActionLink("ERP系统","Login","Account")
                    </em>
                </td>
                <td><em>财务软件</em></td>
            </tr>
            <tr>
                <td><em>仓库管理</em></td>
                <td><em>房地产管理系统</em></td>
            </tr>
        </table>
    </div>
    <div class="all_index_bottom">
        <h4>@@copyright         sujingnuli</h4>
        <h4>       2017-07-07&nbsp;&nbsp;</h4>
    </div>
</body>
</html>
