

@{
    ViewBag.Title = "Index";
}


<div class="index_div_search">
    @using(Html.BeginForm("Search","Home",FormMethod.Get,new{target="_blank"})){
        <input type="text" name="q" class="text_edit"/>
        <input type="submit" value="Search" class="btn_submit"/>
       
    }
</div>
