

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/layout_Inner.cshtml";
}


<div class="index_div_search">
    @using(Html.BeginForm()){
        <input type="text" name="q" class="text_edit"/>
        <input type="submit" value="Search" class="btn_submit"/>
       
    }
</div>
